link(rel='stylesheet', href='stylesheets/widgets/newsletters.css')
#itens_news_letters.flex.vertical.center.bgcolor--accent.shadow--thin
    .email_ico.flex.center.i-border--accent
        i.material-icons.i-txtcolor--accent email
    .title.i-txtcolor--accent.txt-emphasis--high Inscreva seu email
    .subtitle.i-txtcolor--accent.txt-emphasis--medium Enviaremos um email pra você sempre que tivermos novas ofertas em destaque
    .inputfield.mdl-textfield.mdl-js-textfield
        input#letter_email.mdl-textfield__input.paceholder(type='text', placeholder='Digite seu e-mail')
        label.mdl-textfield__label(for='letter_email')
    #btn_signup.flex.center.i-bgcolor--accent
        i.material-icons.txtcolor--accent done