extends layout

block page
    #body_page.content_page
        #body_title.flex.vertical.center
            span.title.txt-emphasis--high Ops. Esta página não existe
            span.subtitle.txt-emphasis--medium Parece que o link que você clicou leva a uma página antiga ou imóvel vendido