#itens_quests {
    margin-left: 16px;
    margin-right: 16px;
}
#itens_bar {
    min-width: 300px;
    max-width: 300px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}
.quest_card {
    border-radius: 2px;
    padding: 32px;
    margin-bottom: 16px;
}
.quest_card .title {
    font-size: medium;
    margin-bottom: 16px;
}
.quest_card .subtitle {
    font-size: small;
}
@media (max-width: 992px) and (min-width:769px) {
    #itens_bar {
        display: none;
    }
}

@media (max-width:768px) and (min-width:513px) {
    #itens_bar {
        display: none;
    }
}

@media (max-width:512px) {
    #itens_bar {
        display: none;
    }
}